.features {
	display: flex;
	align-items: center;
	padding: 2rem 0;
	width: 100%;
}

.featureImage {
	width: 100%;
	height: 250px;
	border-radius: 12px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.featureLink {
	text-decoration: none;
	color: inherit;
}
